<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="UTF-8">
    <title>Tech Badges</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="span5">
                <h1>Tech Badges</h1>
            </div>
            <div class="span7">
                <div class="navbar-text">
                    {% if user %}
                    <p>Welcome, {{user.nickname}}!</p>
                    {% else %}
                    <p>You are not logged in.</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <li><a href="#">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/gallery">Gallery</a></li>
                        <li><a href="http://www.vashonsd.org">VISD</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% block content %}{% endblock %}
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
</body>
</html>