{% extends "content.html" %}

{% block mainpage %}
<div id="mainpanel" class="container-fluid {{skillset.slug}}">
  
  <section class="">
    {% if relations.tags %}
      {% with tags=relations.tags %}
      {% include 'fragments/tagbar.html' %}
      {% endwith %}
    {% endif %}

    {% include 'fragments/editbar.html' %}  
    <div class="row-fluid">
      <div class="span2">
        <div>
          <img alt="" src="http://i.imgur.com/WrkwjSF.png">
          <a href="{{ meta.parent.url }}"><h4 class="text-center">{{ meta.parent.title }}</h4></a>
        </div>
      </div>
      {# sidebar #}
      <div class="span10">
        <h1>{{ fields.title }}</h1>
          <p class="lead">{{ fields.long_description }}</p>
          <div class="text-right">
            <a href="www.example.com" class="btn btn-info">Send help</a>&nbsp;
            {% if 'POST' in relations.entries.meta.methods %}
            <a href="{{ entries.meta.url }}?form=create" class="btn btn-primary">I did this!</a>
            {% endif %}
          </div> 
      </div>
    </div>
  </section>

  {# main area #}
  <div class="row-fluid">
    <div class="span3 sidebar">
      <h4>Learn more</h4>
    
      {% if relations.resources %}
        {% for resource in relations.resources.objects %}
         <p>
           <a href="{{resource.fields.url_link}}" title="{{resource.fields.description}}">{{resource.fields.title}}</a>
         </p>
        {% endfor %}
      {% endif %}

      {% if relations.tools %}
      <h4>Tools</h4>
       <p>
        {% for tool in relations.tools.objects %}
          {% if 'GET' in tool.meta.methods %}
            <a href="{{tool.meta.url}}">{{tool.fields.title}}</a></br>
          {% else %}
            {{ tool.title }}
          {% endif %}
        {% endfor %}
       </p>
       {% endif %}
    </div>

    <div class="span9">       
      <h3>Entries</h3>
       <ul class="thumbnails">
      {% for entry in relations.entries.objects %}
          <li class="span6">
            {% include 'fragments/entry_listing.html' %}
          </li>
      {% endfor %}
      </ul>
    </div>
    </div>
  </div>
{% endblock %}