{% extends "content.html" %}

{% block mainpage %}
<div id="mainpanel" class="container-fluid {{skillset.slug}}">
  
  <section class="">
    <div class="row-fluid">
      <div class="span2">
        <div>
          <img alt="" src="http://i.imgur.com/WrkwjSF.png">
          <h4 class="text-center">{{ skillset.title }}</h4>
        </div>
      </div>
      {# sidebar #}
      <div class="span10">
        <h1>{{title}}</h1>
          <p class="lead">{{long_description}}</p>
          <div class="text-right">
            <a href="www.example.com" class="btn btn-info">Send help</a>&nbsp;<a href="www.example.com" class="btn btn-primary">I did this!</a>
          </div> 
      </div>
    </div>
  </section>

  {# main area #}
  <div class="row-fluid">
    <div class="span3 sidebar">
      <h4>Learn more</h4>
      {% for resource in resources %}
       <p>
         <a href="{{resource.url}}" title="{{resource.description}}">{{resource.title}}</a>
       </p>
      {% endfor %}
      <h4>Tools</h4>
      {% for tool in tools %}
       <p>
         <a href="{{tool.link}}">{{tool.title}}</a></br>
       </p>
      {% endfor %}
    </div>

    <div class="span9">       
      <h3>Examples</h3>
       <ul class="thumbnails">
      {% for example in examples %}
          <li class="span6">
          <div class="thumbnail
          {% if example.user %}
           entry
          {% endif %}
          ">
            {% if example.user %}
            <p>Submitted by <a href="{{example.user.url}}">{{example.user.fullname}}</a></p>
            {% endif %}
            <img data-src="holder.js/300x200">
            <h4>{{example.title}}</h4>
            <p>{{example.caption}}
            {% if example.link %}
            <a href="{{example.link}}">[ learn more ]</a>
            {% endif %}
            </p>
          </div>
          </li>
      {% endfor %}
      </ul>
    </div>
    </div>
  </div>
{% endblock %}