{% extends "content.html" %}

{% block mainpage %}
<div id="mainpanel" class="container-fluid">
  <div id="skillset" class="row-fluid">
    {% include 'fragments/editbar.html' %}
    <h2 class='page-header'>{{ fields.title }}</h2>
    <p class="lead">{{ fields.long_description }}</p>

    <div id="challenges" class='span11 offset1'>
        <a href="{{ t.preload.meta.url }}"><h3>{{ challenges.meta.count }} challenges in this skillset:</h3></a>
          {% for challenge in challenges.objects %}
              {% include 'fragments/challenge_listing.html' %}
          {% endfor %}
    </div>
  </div>
</div>
{% endblock %}